<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<section class="signin">
    <h2>Create Account</h2>

    <form action="/" method="POST">

        <input type="email" name="email" placeholder="Enter Email" required>

        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Sign Up</button>

    </form>

    <p>Already have account?</p>

    <a href="/signin">Sign In</a>

</section>

</body>
</html>